@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body{
  margin: 0;
  background-color: black;
}
#my-background{
  background-image: url(./컴퓨터\ 펙셀.png);
  width: 100vw;
  height: 900px;
  background-size:100vw;
  overflow: visible;
  background-repeat: no-repeat;
}

#password-image{
background-image: url(./윈도우로그인.png);
position: absolute;
width: 1208px;
height: 579px;
background-size: cover;
left: 119px;
top: 79px;
z-index: 1;
}

.test{
  display: none;
}

#password-input{
position: absolute;
width: 250px;
height: 30px;
left: 454px;
top: 375px;
border: 2px solid #cee4e6;
background-color: rgb(246, 255, 255);
font-family: 'NeoDunggeunmo';
z-index: 1;
}

#password-input:focus{
  outline: none;
  }

#password-button{
position: absolute;
width: 50px;
height: 36px;
left: 711px;
top: 375px;
color: rgb(232, 254, 255);
background: #8ca2a5;
border: 0px;
cursor: pointer;
z-index: 1;
}

#my-id{
position: absolute;
width: 330px;
height: 59px;
left: 452px;
top: 301px;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 59px;
color: rgb(246, 255, 255);
font-family: 'NeoDunggeunmo';
}

#user-image{
  position: absolute;
  width: 150px;
  height: 150px;
  left: 530px;
  top: 139px;
  background: url(imgbground.png);
}

#login-img{
position: absolute;
width: 98px;
height: 101px;
left: 555px;
top: 164px;

background-image: url(./loginpx.png);
background-size: cover;
}

#window-image{
z-index: 0;
background-image: url(./window.png);
position: absolute;
width: 1208px;
height: 579px;
background-size: cover;
left: 119px;
top: 79px;
}

#folder1{
position: absolute;
width: 78px;
height: 76px;
left: 10px;
top: 20px;
background: url(./folder.png);
background-size: cover;
cursor: pointer;
}

#folder1:hover{
  filter: brightness(130%);
}


#folder2{
  position: absolute;
  width: 78px;
  height: 76px;
  left: 10px;
  top: 120px;
  background: url(./folder.png);
  background-size: cover;
  cursor: pointer;
}

#folder2:hover{
  filter: brightness(130%);
}

#folder3{
  position: absolute;
  width: 78px;
  height: 76px;
  left: 10px;
  top: 220px;
  background: url(./folder.png);
  background-size: cover;
  cursor: pointer;
}

#folder3:hover{
  filter: brightness(130%);
}

#folder4{
  position: absolute;
  width: 78px;
  height: 76px;
  left: 10px;
  top: 320px;
  background: url(./folder.png);
  background-size: cover;
  cursor: pointer;
}

#folder4:hover{
  filter: brightness(130%);
}

#folder5{
  position: absolute;
  width: 78px;
  height: 76px;
  left: 10px;
  top: 420px;
  background: url(./folder.png);
  background-size: cover;
  cursor: pointer;
}

#folder5:hover{
  filter: brightness(130%);
}

#M-lab-font{
  position: absolute;
  font-size: 20px;
  left: 40px;
  top: 70px;
  color: rgb(246, 255, 255);
  font-family: 'NeoDunggeunmo';
}

#C-lab-font{
  position: absolute;
  font-size: 20px;
  left: 40px;
  top: 170px;
  color: rgb(246, 255, 255);
  font-family: 'NeoDunggeunmo';
}

#Project-font{
  position: absolute;
  font-size: 20px;
  left: 30px;
  top: 270px;
  color: rgb(246, 255, 255);
  font-family: 'NeoDunggeunmo';
}

#JB-font{
  position: absolute;
  font-size: 15px;
  left: 35px;
  top: 380px;
  color: rgb(246, 255, 255);
  font-family: 'NeoDunggeunmo';
}

#about-me-font{
  position: absolute;
  font-size: 20px;
  left: 25px;
  top: 470px;
  color: rgb(246, 255, 255);
  font-family: 'NeoDunggeunmo';
}

#cup-ramen{
position: absolute;
width: 273px;
height: 325px;
left: 0px;
top: 550px;
background: url(./픽셀.png);
background-size: cover;
transform: matrix(-1, 0, 0, 1, 0, 0);
z-index: 4;
cursor: pointer;
transition: 0.5s;
}

#cup-ramen:hover{
background: url(./cupramenhover.png);
position: absolute;
width: 273px;
height: 325px;
left: 0px;
top: 550px;
background-size: cover;
transform: matrix(-1, 0, 0, 1, 0, 0);
z-index: 4;
transition: 0.5s;
}

.cup-ramen-clicked{
  top: 400px !important;
  transition: 0.5s;
}

#postit{
  position: absolute;
  width: 150px;
  height: 75px;
  left: 40px;
  top: 800px;
  background: url(./postitpx.png);
  background-size: cover;
  z-index: 3;
  cursor: pointer;
}
